* {
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}

.info-contact {
  display: flex;
  background-color: #009aff;
  justify-content: flex-end;
}

.info-contact .welcome {
  display: flex;
  justify-content: flex-start;
}

.info-contact ul {
  padding-inline: 2rem;
  display: flex;
  gap: 2rem;
}

.info-contact li {
  list-style-type: none;
}

.info-contact a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
}

.info-contact a:hover {
  font-weight: bolder;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  padding-block: 1rem;
  margin-inline: auto;
  z-index: 9999;
  top: 0;
  position: sticky;
  background-color: white;
}

nav {
  padding: 5px;
}

nav ul {
  padding-inline: 4rem;
  display: flex;
  gap: 2rem;
}

nav li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  font-size: 1.4rem;
  color: black;
  font-weight: bold;
  transition: all 0.3s ease-in;
}

nav a:hover {
  background-color: orange;
  color: white;
  font-weight: bold;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.dropdown .dropbtn {
  font-size: 1.4rem;
  padding: 0.2rem 1rem;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  padding: 0.2rem 1rem;
  margin-top: 0.8rem;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: orange;
  color: white;
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
  padding: 20px;
  display: flex;
  gap: 1.5rem;
}

.container {
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

#home {
  position: relative;
  text-align: center;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title,
.home-detail {
  color: black;
  position: relative;
  z-index: 1;
}

.home-title {
  font-size: 2.7rem;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("/img/home.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 0.55;
}

header {
  display: inline;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.about img {
  max-width: 200px;
}

.about {
  display: flex;
  gap: 2rem;
}

.about p {
  text-align: justify;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  font-family: cursive;
}

.gambar-servis img {
  height: 150px;
  max-height: 200px;
}

.servis {
  display: flex;
  gap: 4rem;
  text-align: center;
}

.servis-button {
  text-align: center;
}
.tombol-servis {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #009aff;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 20px;
}

.tombol-servis:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  transition: all 0.2s ease-in;
}

.review {
  display: flex;
  margin-bottom: 20px;
  margin-top: 40px;
}

.gambar-user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}

.gambar-user img {
  width: 100%;
}

.user-review {
  flex: 1;
}

.nama-user {
  font-weight: bold;
}

.isi-review {
  font-weight: lighter;
}

.review-button {
  text-align: center;
}
.lebih-banyak-review {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #009aff;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 20px;
}

.lebih-banyak-review:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  transition: all 0.2s ease-in;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 10px 0;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #009aff;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

input[type="submit"]:hover {
  background-color: white;
  color: black;
}

aside {
  flex: 1;
}

footer {
  padding: 25px;
  text-align: center;
  background-color: #009aff;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  main {
    flex-flow: column nowrap;
  }

  main aside {
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  .home-title {
    font-size: 2rem;
  }

  nav ul {
    justify-content: center;
  }

  .navbar img {
    display: none;
  }

  .review {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .gambar-user {
    margin-right: 0;
    margin-bottom: 10px;
  }

  main aside {
    align-self: stretch;
  }
}
